<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | DailyDev</title>
</head>

<body>

    <header>
        <h1>DailyDev 🟩</h1>
        <p>Welcome back.</p>
    </header>

    <main>

        <h2>Log in</h2>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Log in
            </button>

        </form>

    </main>

</body>

</html>